
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header'); %>
</head>
<body class="container-xl">
    <%- include('./partials/nav_bar'); %>

    <div class="container-fluid datos">
        <div class="row justify-content-end heading-page heading-v2">
            <div class="col-12">
                <div class="heading-title no-brd">
                    <h2>Seleccione una opción</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <div class="card-menu">
                        <a href="/refam/revistas">
                            <img src="/refam/svg/revistas.svg" alt="">
                        </a>
                        <a class="" href="/refam/revistas">
                            <span class="">Revistas</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-menu">
                        <a  href="/refam/beneficios">
                            <img class="mt-3" src="/refam/svg/beneficios.svg" alt="">
                        </a>
                        <a class="" href="/refam/beneficios">
                            <span class="">Beneficios</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-menu">
                        <a href="/refam/galeria">
                            <img src="/refam/svg/galeria.svg" alt="">
                        </a>
                        <a class="" href="/refam/galeria">
                            <span class="">Galería</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-3">
                    <div class="card-menu card-variant">
                        <a href="/refam/notificaciones">
                            <img src="/refam/svg/notificaciones.svg" alt="">
                        </a>
                        <a class="" href="/refam/notificaciones">
                            <span class="">Notificaciones</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-menu card-variant">
                        <a href="/refam/usuarios">
                            <img src="/refam/svg/usuarios.svg" alt="">
                        </a>
                        <a class="" href="/refam/usuarios">
                            <span class="">Usuarios</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-menu card-variant">
                        <a href="/refam/biblioteca">
                            <img src="/refam/svg/biblioteca.svg" alt="">
                        </a>
                        <a class="" href="/refam/biblioteca">
                            <span class="">Biblioteca</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>