<!DOCTYPE html>
<html>
<head>
	<title>REFAM</title>
</head>
<body>
	<div class="box">
		 <img src="/refam/images/logo.png" style="height:15rem;width:15rem;margin-bottom: 3rem">
		 ¡REGISTRO COMPLETO!
	</div>
</body>
<style type="text/css">
	div.box{
		text-align: center;
		font-family: arial;
		position: fixed;
		flex-direction: column;
		top:0px;
		left:0px;
		width:100vw;
		height: 100vh;
		font-size: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		color:#fff;
		background: rgb(17,17,17);
		background: linear-gradient(0deg, rgba(17,17,17,1) 0%, rgba(137,35,72,1) 100%); 
	}
</style>
</html>