
  <div class="template">
    <div class="pleca">
      <img src="/svg/soldados-de-tierra-01.svg" alt="icono de tropa militar" >
    </div>
    <figure class="img-title">
      <img src="/images/balsas-ejercito.png" />
      <h2>Las Secretarías de Relaciones Exteriores y Defensa Nacional realizan vuelo humanitario</h2>
      <h5>Sgto. 1/o. Aux. Ofta. Liliana Reyes Sánchez Licenciada en Comunicación Dirección General de Comunicación Social</h5>
      <img class="icon" src="/svg/icono-bajar.svg" />
    </figure>
    <div id="content" class="text-content">
      <p><strong>Debido a la contingencia a nivel global por Coronavirus COVID-19, elementos de la Fuerza Aérea, en coordinación con personal del Ejército y de la Secretaría de Relaciones Exteriores llevaron a cabo vuelos de traslado humanitario de Cuba, Perú, Argentina, Chile y Uruguay.</strong></p>
      <p>Lo anterior, es resultado del  trabajo intenso que realizan las Secretarías de la Defensa  Nacional y Relaciones Exteriores, afrontando cada misión con disposición y compromiso, permitiendo mantener el prestigio, confianza y respaldo otorgado por los mexicanos.</p>
      <p>Con estas acciones, ambas dependencias refrendan su compromiso de velar y salvaguardar a los ciudadanos, trabajando con determinación para contribuir al bienestar y salud del pueblo de México.</p>
    </div>
    <figure class="only-image">
      <img src="/images/avion-fuerza-aerea.png"/>
    </figure>
  </div>
  
  <div class="template">
    <div class="pleca pleca-v1">
      <img src="/svg/historia-militar-04.svg" alt="icono de tropa militar" >
    </div>
    <div class="section-img-one bg-v1">
      <h2>Las Secretarías de Relaciones Exteriores y Defensa Nacional realizan vuelo humanitario</h2>
      <h5>Sgto. 1/o. Aux. Ofta. Liliana Reyes Sánchez Licenciada en Comunicación Dirección General de Comunicación Social</h5>
      <img src="/images/vehiculo-militar.png" alt="vehiculo militar" />
    </div>
    <div class="text-content txt-v1">
      <p><strong>Debido a la contingencia a nivel global por Coronavirus COVID-19, elementos de la Fuerza Aérea, en coordinación con personal del Ejército y de la Secretaría de Relaciones Exteriores llevaron a cabo vuelos de traslado humanitario de Cuba, Perú, Argentina, Chile y Uruguay.</strong></p>
      <p>Lo anterior, es resultado del  trabajo intenso que realizan las Secretarías de la Defensa  Nacional y Relaciones Exteriores, afrontando cada misión con disposición y compromiso, permitiendo mantener el prestigio, confianza y respaldo otorgado por los mexicanos.</p>
      <p>Con estas acciones, ambas dependencias refrendan su compromiso de velar y salvaguardar a los ciudadanos, trabajando con determinación para contribuir al bienestar y salud del pueblo de México.</p>
    </div>
  </div>

  <div class="template">
    <div class="pleca pleca-v6">
      <img src="/svg/historia-militar-04.svg" alt="icono de tropa militar" >
    </div>
    <div class="section-img-one bg-v6">
      <h2>Las Secretarías de Relaciones Exteriores y Defensa Nacional realizan vuelo humanitario</h2>
      <h5>Sgto. 1/o. Aux. Ofta. Liliana Reyes Sánchez Licenciada en Comunicación Dirección General de Comunicación Social</h5>
      <img src="/images/vehiculo-militar.png" alt="vehiculo militar" />
    </div>
    <div class="text-content txt-v6">
      <p><strong>Debido a la contingencia a nivel global por Coronavirus COVID-19, elementos de la Fuerza Aérea, en coordinación con personal del Ejército y de la Secretaría de Relaciones Exteriores llevaron a cabo vuelos de traslado humanitario de Cuba, Perú, Argentina, Chile y Uruguay.</strong></p>
      <p>Lo anterior, es resultado del  trabajo intenso que realizan las Secretarías de la Defensa  Nacional y Relaciones Exteriores, afrontando cada misión con disposición y compromiso, permitiendo mantener el prestigio, confianza y respaldo otorgado por los mexicanos.</p>
      <p>Con estas acciones, ambas dependencias refrendan su compromiso de velar y salvaguardar a los ciudadanos, trabajando con determinación para contribuir al bienestar y salud del pueblo de México.</p>
    </div>
  </div>