<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header'); %>
</head>
<body>
<%- include('./partials/nav_bar'); %>

<div class="container-fuid datos">
    <div class="row justify-content-end heading-page heading-v4">
        <div class="col-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="text-light" href="#">Inicio</a></li>
                    <li class="breadcrumb-item"><a class="text-light" href="#">Biblioteca</a></li>
                    <li class="breadcrumb-item active">Nuevo</li>
                </ol>
            </nav>
        </div>
        <div class="col-12">
            <div class="heading-title">
                <h2>Agregar Video</h2>
            </div>
        </div>
    </div>

    <div class="row heading-page content-table pt-3">
        <div class="col-12">
            <form class="notification-form" action="/refam/api/library/uploadVideo" method="post"
                  enctype="multipart/form-data">
                <div class="notifications-actions">
                    <div class="form-group">
                        <label for="upload-video" class="btn btn-secondary form-control">
                            <input id="upload-video" class="" type="file" name="video-library">
                            Cargar video
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Subir Video</button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>

</body>
</html>